<nav class="col-sm-1 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="">
          <i class="fas fa-home"></i>
          Dashboard <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          Session
        </a>
      </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>Analysis</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a routerLink="analysis" class="nav-link" (click)="setDatabaseName('homeopathy')">
          <i class="fas fa-prescription-bottle"></i>
          Homeopathy
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="analysis" class="nav-link" (click)="setDatabaseName('agriculture')">
          <i class="fas fa-compass"></i>
          Agriculture
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="analysis" class="nav-link" (click)="setDatabaseName('agriculture')">
          <i class="fas fa-battery-half"></i>
          Energy
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="analysis" class="nav-link" (click)="setDatabaseName('agriculture')">
          <i class="fas fa-diagnoses"></i>
          Biology
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="analysis" class="nav-link" (click)="setDatabaseName('agriculture')">
          <i class="fas fa-diagnoses"></i>
          Chemical
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="analysis" class="nav-link" (click)="setDatabaseName('agriculture')">
          <i class="fas fa-diagnoses"></i>
          Essences
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="analysis" class="nav-link" (click)="setDatabaseName('agriculture')">
          <i class="fas fa-diagnoses"></i>
          Food
        </a>
      </li>
    </ul>
  </div>
</nav>
