<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{selectedCase.name}}</h4>
  Created: {{selectedCase.created | date:'mediumDate'}}<br>
  Updated: {{selectedCase.lastChange | date:'mediumDate'}}<br>
</div>
<div class="modal-body">
  <p>{{selectedCase.description}}</p>

  <div class="alert alert-dark" *ngIf="selectedCase.topTenList">
    <h5>Statistics / Top Ten Rates or Signatures</h5>
    <p>Reoccurring patterns of statistical significance, sorted in descending order, by occurrence, general vitality, energetic value and name.</p>
    <table class="table table-dark table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">REC</th>
        <th scope="col">GV</th>
        <th scope="col">EV</th>
        <th scope="col">RATE / SIGNATURE</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rate of selectedCase.topTenList">
        <td>{{rate.occurrence}}</td>
        <td>{{rate.overallGV}}</td>
        <td>{{rate.overallEnergeticValue}}</td>
        <td>{{rate.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngFor="let sessionObject of selectedCase.sessionList" class="alert alert-dark">
    <b>
      <span>
        {{sessionObject.intention}} - {{sessionObject.created | date:'mediumDate'}} | {{sessionObject.created | date:'shortTime'}}
      </span>
      <span class="bg-success" *ngIf="sessionObject.broadCasted">
        {{sessionObject.broadCasted.signature}}
        {{sessionObject.broadCasted.enteringWithGeneralVitality}} |
        {{sessionObject.broadCasted.leavingWithGeneralVitality}}
      </span>
    </b>
    <div>{{sessionObject.description}}</div>

    <div *ngIf="sessionObject.analysisResult">
    <h5 *ngIf="sessionObject.analysisResult.generalVitality">General Vitality <span class="badge badge-secondary">{{sessionObject.analysisResult.generalVitality}}</span></h5>
    <table class="table table-dark table-bordered table-hover table-sm">
      <thead>
      <tr>
        <th scope="col">EV</th>
        <th scope="col">RATE / SIGNATURE</th>
        <th scope="col">GV</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rateObject of sessionObject.analysisResult.rateObjects">
        <td>{{rateObject.energeticValue}}</td>
        <td>{{rateObject.nameOrRate}}</td>
        <td [style.background-color]="colorRelativeToGeneralVitality(sessionObject.analysisResult.generalVitality, rateObject.gv)">{{rateObject.gv}}</td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  ...
</div>
