<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{selectedCase.name}}</h4>
  Created: {{selectedCase.created | date:'mediumDate'}}<br>
  Updated: {{selectedCase.lastChange | date:'mediumDate'}}<br>
</div>
<div class="modal-body">
  <p>{{selectedCase.description}}</p>
  <div *ngFor="let sessionObject of selectedCase.sessionList" class="alert alert-dark">
    <b>
      <span>
        {{sessionObject.intention}} - {{sessionObject.created | date:'mediumDate'}} | {{sessionObject.created | date:'shortTime'}}
      </span>
      <span class="bg-success" *ngIf="sessionObject.broadCasted">
        {{sessionObject.broadCasted.signature}}
        {{sessionObject.broadCasted.enteringWithGeneralVitality}} |
        {{sessionObject.broadCasted.leavingWithGeneralVitality}}
      </span>
    </b>
    <div>{{sessionObject.description}}</div>

    <table class="table table-dark table-bordered table-hover table-sm" *ngIf="sessionObject.analysisResult">
      <thead>
      <tr>
        <th scope="col">EV</th>
        <th scope="col">RATE / SIGNATURE</th>
        <th scope="col">GV</th>
        <th scope="col">GV REC</th>
        <th scope="col">REC</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let rateObject of sessionObject.analysisResult.rateObjects">
        <td>{{rateObject.energeticValue}}</td>
        <td>{{rateObject.nameOrRate}}</td>
        <td>{{rateObject.gv}}</td>
        <td>{{rateObject.recurringGeneralVitality}}</td>
        <td>{{rateObject.recurring}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  ...
</div>
