.navbar-brand {
  color: #bca1ff;
}

border

.activeLink {
  color: #a1ffcd;
  font-weight: bolder;
}

.inactiveLink {
  color: #6aa185;
}

li {
  cursor: pointer;
}

.copyrightInfo {
  font-size: 0.5rem
}

.serverOnline {
  font-weight: bolder
}

.serverOffline {
  font-weight: bolder;
  color: red !important;
}
.serverOfflineInfo {
  font-weight: lighter;
  color: #fe1c1c !important;
}
