.toolbar-button {
  margin-inline: 5px;
  margin-left: 0.1rem!important;
}

.currentGvRow {
  font-weight: bolder;
  color: #000000;
  background-color: white;
}

.hitGvRow {
  font-weight: bolder;
  color: #ffffff;
  background-color: #0a3100;
}

.greenGvRow {
  font-weight: bolder;
  color: #ffffff;
  background-color: #2b8c09;
}
