<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>AetherOne - Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body class="text-light bg-dark">
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<div id="app">
    <div class="container">
        <h1>Search</h1>
        <div class="mb-3">
            <label for="searchField" class="form-label">Clarke Materia Medica</label>
            <input type="text" class="form-control" id="searchField" v-model="search" aria-describedby="searchFieldHelp">
            <div id="searchFieldHelp" class="form-text">Type the word you want to search.</div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Remedy</th>
                    <th scope="col">Clinical</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in resultData">
                    <td>{{entry.values['remedyName']}}</td>
                    <td>{{entry.values['Clinical']}}</td>
                </tr>
            </tbody>
        </table>

        <h1>Settings</h1>

        <div class="row">
            <div class="col">
                <h2>Booleans</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">VALUE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(value, key, index) in settings.booleans">
                        <th scope="row">{{index}}</th>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2>Integers</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">VALUE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(value, key, index) in settings.integers">
                        <th scope="row">{{index}}</th>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h2>Strings</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">VALUE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(value, key, index) in settings.strings">
                        <th scope="row">{{index}}</th>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<script>
    const app = Vue.createApp({
        data() {
            return {
                settings: {},
                field: '',
                search: '',
                resultData: []
            }
        },
        watch: {
            search: 'searchResults'
        },
        mounted () {
            axios
                .get('http://localhost:7070/settings')
                .then(response => {
                    console.log(response.data)
                    this.settings = response.data;
                    })
                },
        methods: {
            async searchResults() {

                console.log("searching ...");
                if (this.search.length < 3) {
                    this.resultData = [];
                }

                axios
                    .get('http://localhost:7070/materiaMedicaSearch?field=' + this.field + '&query=' + this.search)
                    .then(response => {
                        console.log(response)
                        if (response.data.searchResults.length === 0) {
                            this.resultData = [];
                        } else {
                            this.resultData = response.data.searchResults;
                        }
                    },[]);

                return this.resultData;
            }
        }
    }).mount('#app')
</script>
</body>
</html>

