<div id="map" class="map">
  <div id="toolbar" class="btn-toolbar" role="toolbar">
    <div *ngIf="!map.draw" class="btn-group mr-2" role="group">
      <button class="btn btn-sm btn-primary" (click)="drawArea()">DRAW AREA</button>
    </div>
    <div *ngIf="map.draw" class="btn-group mr-2" role="group">
      <button class="btn btn-sm btn-warning" (click)="stopDrawing()">STOP DRAWING</button>
    </div>
    <div *ngIf="rateNames != null" class="form-group mx-sm-3 mb-2">
      <form [formGroup]="analysisSettingsForm">
        <select class="custom-select text-light bg-dark" formControlName="rateNames" (ngModelChange)="selectRateName()">
          <option [value]="rate" *ngFor="let rate of rateNames">{{rate}}</option>
        </select>
      </form>
    </div>
    <div *ngIf="!scanning && !map.draw && map.lastSketch" class="btn-group mr-2" role="group">
      <button class="btn btn-sm btn-primary" (click)="scanArea()">SCAN</button>
    </div>
    <div *ngIf="!map.lastSketch || map.draw" class="btn-group mr-2" role="group">
      <button class="btn btn-sm btn-dark">SCAN</button>
    </div>
    <div *ngIf="scanning" class="btn-group mr-2" role="group">
      <button class="btn btn-sm btn-warning" (click)="stopScanning()">SCANNING {{areaAnalysis.gridAnalysis.length + 1}} of 64</button>
    </div>
    <div *ngIf="areaAnalysis" class="btn-group mr-2" role="group">
      <button class="btn btn-sm btn-secondary" *ngIf="areaAnalysis.generalVitality">GV {{areaAnalysis.generalVitality}}</button>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-sm btn-success">BROADCAST</button>
    </div>
  </div>
  <app-area-scan-grid-result *ngIf="gridResult" [analysisResult]="gridResult"></app-area-scan-grid-result>
</div>
<hr>
<pre class="text-light">First draw an area by clicking on "DRAW AREA", afterwards click "STOP DRAWING" and finally on "SCAN".</pre>
