<p>Welcome to the UI of AetherOnePi!</p>
<p>The UI is served by the AetherOnPi (which is your personal server on your computer). It enhances the functionality with an easier user interface, enabling more functionality suited for professional use.</p>
<p>This design will change a lot during development. You can contribute with you ideas, suggestions and bug reports!</p>
<hr>
<a href="patreon.com/aetherone" target="patreonIsuretPolos" class="btn btn-success btn-sm">Support me on PATREON!<br>And get FREE courses for radionics and homeopathy!</a>
