.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

body {
  font-size: .875rem !important;
  font-family: Nunito,sans-serif !important;
}

@media (min-width: 1024px) {
  .ml-sm-auto, .mx-sm-auto {
    margin-left: 200px !important;
  }
}

main {
  color: #ffffff;
}

.feather {
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  [role="main"] {
    /* Space for fixed navbar */
    padding-top: 48px;
  }
}

.bg-dark {
  background-color: #130c09 !important;
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: #130c09;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
  background-color: #130c09;
}

.form-control-dark {
  color: #fff;
  background-color: #1c1209;
  border-color: #130c09;
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
